<header class="header-layout">
  <div class="header-layout__headers">
    <h1 class="header-layout__title">{{ headerTitle }}</h1>
    <h3 class="header-layout__subtitle">{{ headerSubTitle }}</h3>
    <nav class="header-layout-navigation" [@toggleMenu]="menuState">
      <ul class="header-layout-navigation__links">
        <li>
          <a
            class="header-layout-navigation__link"
            [title]="'countries.worldwide' | transloco"
            routerLink="/"
            routerLinkActive="active"
            target="_self"
            (click)="toggleMenu()"
          >
            <h2>{{ 'countries.worldwide' | transloco }}</h2>
          </a>
        </li>
        <li>
          <a
            class="header-layout-navigation__link"
            [title]="('commonWords.statisticsFor' | transloco) + ('countries.Russia' | transloco)"
            routerLink="/country/ru"
            routerLinkActive="active"
            target="_self"
            (click)="toggleMenu()"
          >
            <h2>{{ 'countries.Russia' | transloco }}</h2>
          </a>
        </li>
        <li>
          <a
            class="header-layout-navigation__link"
            [title]="('commonWords.statisticsFor' | transloco) + ('countries.China' | transloco)"
            routerLink="/country/cn"
            routerLinkActive="active"
            target="_self"
            (click)="toggleMenu()"
          >
            <h2>{{ 'countries.China' | transloco }}</h2>
          </a>
        </li>
        <li>
          <a
            class="header-layout-navigation__link"
            [title]="('commonWords.statisticsFor' | transloco) + ('countries.Germany' | transloco)"
            routerLink="/country/de"
            routerLinkActive="active"
            target="_self"
            (click)="toggleMenu()"
          >
            <h2>{{ 'countries.Germany' | transloco }}</h2>
          </a>
        </li>
        <li>
          <a
            class="header-layout-navigation__link"
            [title]="('commonWords.statisticsFor' | transloco) + ('countries.Ukraine' | transloco)"
            routerLink="/country/ua"
            routerLinkActive="active"
            target="_self"
            (click)="toggleMenu()"
          >
            <h2>{{ 'countries.Ukraine' | transloco }}</h2>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-layout__navigation-toggle">
    <svg-icon-sprite
      class="header-layout__navigation-toggle-icon"
      src="assets/svg/sprites/icons.svg#menu"
      aria-label="Navigation Toggle"
      (click)="toggleMenu()"
    ></svg-icon-sprite>
  </div>
</header>
