
# ==================================================================================
# ==================================================================================
#                          Simple COVID Stats Code Owners
# ==================================================================================
# ==================================================================================
#
#  More info: https://help.github.com/articles/about-codeowners/
#

* @vakhramoff
# will be requested for review when someone opens a pull request
