<div class="main-layout">
  <header class="main-layout-header">
    <h1 class="main-layout-header__title">{{ headerTitle }}</h1>
    <h3 class="main-layout-header__subtitle">{{ headerSubTitle }}</h3>
  </header>

  <section class="main-layout-container">
    <ng-content></ng-content>
  </section>

  <footer class="main-layout-footer">
    <ul class="main-layout-footer__links">
      <li>
        <a class="main-layout-footer__link" title="Автор" href="https://vakhramoff.ru/" target="_blank">
          <h3>&copy; Сергей Вахрамов</h3>
        </a>
      </li>
      <li>
        <a class="main-layout-footer__link" title="API" href="https://corona.lmao.ninja/" target="_blank">
          <h3>API</h3>
        </a>
      </li>
      <li>
        <a class="main-layout-footer__link" title="Исходный код" href="https://github.com/vakhramoff/Simple-COVID-Stats" target="_blank">
          <h3>Исходный код</h3>
        </a>
      </li>
    </ul>
  </footer>
</div>
