<shared-main-layout [headerSubTitle]="'homePage.headerSubTitle' | transloco">
  <div class="covid-data" *ngIf="allStats$ | async as stats; else loading">
    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#coronavirus'"
      [title]="'statistics.cases' | transloco"
      [value]="(stats.cases | toLocaleString) + ' (+' + (stats.todayCases | toLocaleString) + ')'"
    ></shared-data-card>
    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#recovered'"
      [title]="'statistics.recovered' | transloco"
      type="success"
      [value]="stats.recovered | toLocaleString"
    ></shared-data-card>
    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#cough'"
      [title]="'statistics.active' | transloco"
      type="danger"
      [value]="stats.active | toLocaleString"
    ></shared-data-card>
    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#cough'"
      [title]="'statistics.casesPerOneMillion' | transloco"
      [value]="stats.casesPerOneMillion | toLocaleString"
    ></shared-data-card>
    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#sick'"
      [title]="'statistics.critical' | transloco"
      type="danger"
      [value]="stats.critical | toLocaleString"
    ></shared-data-card>
    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#skull'"
      [title]="'statistics.deaths' | transloco"
      type="danger"
      [value]="(stats.deaths | toLocaleString) + ' (+' + (stats.todayDeaths | toLocaleString) + ')'"
    ></shared-data-card>
    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#skull'"
      [title]="'statistics.deathsPerOneMillion' | transloco"
      type="danger"
      [value]="stats.deathsPerOneMillion | toLocaleString"
    ></shared-data-card>

    <!--    <div class="covid-data&#45;&#45;row-delimiter"></div>-->

    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#chemistry'"
      [title]="'statistics.tests' | transloco"
      type="warning"
      [value]="stats.tests | toLocaleString"
    ></shared-data-card>
    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#chemistry'"
      [title]="'statistics.testsPerOneMillion' | transloco"
      [value]="stats.testsPerOneMillion | toLocaleString"
    ></shared-data-card>

    <!--    <div class="covid-data&#45;&#45;row-delimiter"></div>-->

    <shared-data-card
      class="covid-data__card"
      [icon]="'assets/svg/sprites/icons.svg#worldwide'"
      [title]="'statistics.affectedCountries' | transloco"
      type="danger"
      [value]="stats.affectedCountries | toLocaleString"
    ></shared-data-card>

    <div class="covid-data--row-delimiter"></div>

    <shared-data-card
      class="covid-data__card covid-data--last-card"
      [icon]="'assets/svg/sprites/icons.svg#clock'"
      [title]="'statistics.updated' | transloco"
      [value]="stats.updated | date: 'dd.MM.yyyy hh:mm:ss ZZZZ':null:activeLocale"
    ></shared-data-card>
  </div>
  <ng-template #loading>
    <h1>
      <strong>{{ 'commonAppVars.loadingData' | transloco }}</strong>
    </h1>
  </ng-template>
</shared-main-layout>
